<div class="footer primary-bg-color">
  <div class="footer-address" >
    <div data-i18n="footer:address"></div>
    <div class="footer-media">
      <ul class="footer-links">
        {% for media in site.data.media %}
        <li>
          {% if media.link %}
          <a href="{{ media.link | default: '#' }}"
          target="_blank" class="footer-media-item"><img src="{{ media.icon | prepend: '/assets/media-pics/' }}">
          </a>
          {% else %}
          <div style="opacity: 0;">{{ media.name }}</div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div></div>
  <!--
  <div class="footer-media">
    <ul class="footer-links">
      {% for media in site.data.media %}
      <li>
        {% if media.link %}
        <a href="{{ media.link | default: '#' }}"
        target="_blank" class="footer-media-item">{{ media.name }}
        </a>
        {% else %}
        <div style="opacity: 0;">{{ media.name }}</div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  -->
</div>