<div class="footer">
  <div class="row">
    <div class="four columns">
      <img style="height: 72px" src="{{ site.baseurl }}/assets/gs-icon.png" alt="Logo">
    </div>
    <div class="four columns">
      Contact us:<br/>
      <a href="mailto:zhouhao@air.tsinghua.edu.cn">zhouhao@air.tsinghua.edu.cn</a><br/>
      <a href="mailto:haozhou0806@gmail.com">haozhou0806@gmail.com</a>
    </div>
    <div class="four columns">
      <p>
        <span onclick="window.open('{{ site.data.profile.github }}')" style="cursor: pointer">
          <i class="fa-brands fa-github fa-lg"></i>
        </span>

        <span onclick="window.open('{{ site.data.profile.dblp }}')" style="cursor: pointer">
          <i class="ai ai-dblp ai-lg" aria-hidden="true"></i>
        </span>

        <span onclick="window.open('{{ site.data.profile.google_scholar }}')" style="cursor: pointer">
          <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
        </span>
      </p>
    </div>
  </div>
</div>