<section class="header">
  <div class="row">
    <div class="three columns">
      <a href="{{ site.baseurl }}/"><img class="u-max-full-width" src='{{ site.baseurl }}{{ site.data.profile.hero }}'></a>
    </div>
    <div class="nine columns main-description">
        <h1>{{ site.data.profile.name }}</h1>
        <p>{{ site.data.profile.title }}</p>
        <p>{{ site.data.profile.employer }}</p>
        <p>Emails: {{ site.data.profile.email }}</p>
        <br/>
        <p>Hello! I am a research associate professor at <a href="https://air.tsinghua.edu.cn/">Insititute for AI Industry Research (AIR), Tsinghua University</a>. My research interest is developing Generative AI models to better understand/generate discerte symbols including text, small molecules and proteins. Previously, I was a Research Scientist/Manager at <a href="https://bytedance.com/en/">Bytedance AI lab</a>. Currently, I lead the Generative Symbolic Intelligence group at Tsinghua AIR and co-lead the SIA Lab, a Joint Laboratory of THUAIR and ByteDance on LLM research. Here is my CV.</p>
        <p>
          <span onclick="window.open('{{ site.data.profile.github }}')" style="cursor: pointer">
            <i class="fa-brands fa-github fa-lg"></i>
          </span>

          <span onclick="window.open('{{ site.data.profile.dblp }}')" style="cursor: pointer">
            <i class="ai ai-dblp ai-lg" aria-hidden="true"></i>
          </span>

          <span onclick="window.open('{{ site.data.profile.google_scholar }}')" style="cursor: pointer">
            <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
          </span>
        </p>
    </div>
  </div>
</section>