<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.data.gensi.name }} | {{ page.title }}</title>
  <meta name="description" content="GenSI Homepage">
  <meta name="author" content="Hugh">
  <meta property="og:title" content="{{ site.data.gensi.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.baseurl }}" />
  <meta property="og:site_name" content="{{ site.data.gensi.site_name }}" />
  <!-- <link rel="canonical" href="http://www.martinsaveski.com" /> -->

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href={{ "/libs/external/skeleton/normalize.css" | prepend: site.baseurl }}> -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton/skeleton.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/main.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/main-480.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/news.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/people.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/people-480.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/research.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/research-480.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/blog.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/contact.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/footer.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/css/footer-480.css" | prepend: site.baseurl }}>

  <!-- JQuery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/external/jquery-3.1.1.min.js" | prepend: site.baseurl }}></script>

  <!-- Font-Awesome
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <link rel="stylesheet" href={{ "/libs/external/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}> -->
  <link rel="stylesheet" href={{ "/libs/external/fontawesome-free-6.6.0-web/css/all.min.css" | prepend: site.baseurl }}>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/custom/js/main.js" | prepend: site.baseurl }}></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>
  <link rel="shortcut icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>


  <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=uoMrsGmpyzgA7C4N6iyAfoGFxg6h05OV6CRPNfONJI0&cl=ffffff&w=a"></script>
</head>