<div class="{{block.class}} center-vbox">
  <div class="main-block">
    <div class="main-block-header center-hbox">
      <img class="main-block-header-img" src="/assets/misc-pics/lt.png">
      <h1 class="main-block-title" data-i18n="{{block.title}}"></h1>
      <img class="main-block-header-img" src="/assets/misc-pics/rt.png">
    </div>
    <div>
      {% include {{block.page}} %}
    </div>
    {% if block.read_all %}
    <a href="{{block.read_all}}">
      <h2 class="main-block-more center-hbox" data-i18n="main:block:more">
      </h2>
    </a>
    {% endif %}
  </div>
</div>