<div class="spacer"></div>
<nav class="navbar-mod">
  <div class="navbar-container">
    <a href="{{ site.baseurl | append: '/' }}"><img src="{{ site.baseurl }}/assets/gensi.png" alt="Logo"></a>
    <ul class="navbar-links" data-active="lab-all">
      <!-- {% assign modules = "news,people,publications,blogs" %} -->
      <!-- <li><a class="navbar-link"
        href={{ mod | append: .html | prepend: / | prepend: site.baseurl }}>{{ mod | capitalize }}</a>
      </li> -->
      {% for mod in site.modules %}
      {% if mod.marker %}
      {% assign navid = mod.marker | downcase | prepend: 'nav-' %}
      <li><a id="{{ navid }}" class="navbar-link-base navbar-link"
        href={{ mod.url | prepend: site.baseurl }}>{{ mod.marker }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>