<nav class="navbar-mod primary-bg-color">
  <div class="">
    <div class="navbar-container">
      <a href="{{ site.baseurl | append: '/' }}"><img src="/assets/gensi-bh.svg" alt="Logo"></a>
      <ul class="navbar-links" data-active="lab-all">
        {% for mod in site.modules %}
        {% if mod.marker %}
        {% assign navid = mod.marker | downcase | prepend: 'nav-' %}
        <li>
          <a id="{{ navid }}" class="navbar-link-base navbar-link" href='{{ mod.url | prepend: site.baseurl }}'
            data-i18n="{{ mod.marker | prepend: 'footer:'}}">
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>