<ul>
  <p style="color: red">* Jun. 2024: We're Hiring! Looking for posdoc fellowship (2 hc) and research asistant (2 hc) to join us. Also welcome students to intern in our lab. Please feel free to contact me if you are interested. </p>

</ul>
<ul>
  <p>* May - Jun. 2024: Gave a talk about <b>Generative AI for Scientific Discovery</b> at <a href="https://www.cfd.tsinghua.edu.cn/fwxm/jsjl/qnxzsl.htm">Tsinghua Young Scholars Monthly Salon</a>, <a href="https://www.catl.com/">CATL</a>, <a href="https://chembic.nju.edu.cn/main.htm">ChemBIC Research</a>, <a href="http://spxy.njnu.edu.cn/index.htm#">NJNU Institute of Synthetic Biology Industry</a>, <a href="https://ai.nju.edu.cn/main.htm">NJU AI School</a> and <a href="http://www.frcbs.tsinghua.edu.cn/">Tsinghua FRCBS</a>.</p>

</ul>